@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    width: 100%;
    height: 87px;
    background-color: white;
    display: flex;
}
.logo{
    width: 30%;
    text-align: center;
}
.logo img{
    height: 83px;
    width: auto;
}
.navlist{
    width: 70%;
}
ul{
    display: flex;
    list-style: none;
}
ul li{
    padding-top: 23px;
    position: relative;
}
ul li a{
    padding: 0px 30px;
    margin: auto;
    color: blueviolet;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    text-decoration: none;
}
ul li a:hover{
    color: #735240;
    transition: 0.2s;
}
.drop-down-manu{
    display: none;
}
.product{
    padding: 0px 10px;
    margin: auto;
    color: blueviolet;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    text-decoration: none;
}
.navbar ul li:hover .drop-down-manu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: auto;
    background-color: rgb(253, 250, 250);
}
.navbar ul li:hover .drop-down-manu ul{
    display: block;
    margin: 10px;
}
.drop-down-manu ul li{
    width: 150px;
    padding: 10px;
}
.drop-down-manu-2{
    display: none;
}
.hover-me:hover .drop-down-manu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background-color: white;
}
.drop-down-manu-2 ul li{
    width: 250px;
    padding: 10px;
}
.burger{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 28px;
}
.line{
    width: 39px;
    height: 4px;
    background-color: rgb(10, 10, 10);
    margin: 7px 27px;
}

                                                   /* section -1  */
.sec-1{
    width: 100%;
    height: auto;
}
.headline-resp{
    display: none;
}
.img{
    background-image: url('./gallary/SEC-1.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 714px;
}
                                                    /* section - 2 */
.sec-2{
    width: 100%;
    height: 500px;
}
.img-2{
    background-image: url('./gallary/SEC-2.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
}
.resp-content{
    display: none;
}
                                                      /* section -3 */
.sec-3{
    width: 100%;
    height: 400px;
}
.con-1{
    padding-right: 15px;
    margin-top: 10px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.hed-1{
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    
}
.window-sec{
    width: 100%;
    height: 300px;
    display: flex;
}
.win-gall{
    width: 22%;
    height: auto;
    margin: 21px;
}
.win-gall img{
    width: 90%;
    padding: 42px 0px;
    height: 200px;
}
.btn-list{
    text-align: center;
}
.btn-1{
    height: 50px;
    width: 150px;
    border: none;
    background-color: violet;
    border-radius: 2px;
}
.btn-1 a{
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    color: white;

}
                                             /* footer */
.footer{
    background-color: violet;
    height: 400px;
    width: 100%;
}
.con-footer{
    width: 100%;
    height: 300px;
    padding-top: 60px;
    display: flex;

}
.col{
    width: 15%;
    height: 331px;
    padding: 0px 69px;
}
.footer-h2{
    font-family: 'Kanit', sans-serif;
    color: white;
}
p{
    font-size: 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.list-1{
    padding-top: 35px;
}
.list-1 li {
    list-style: none;
    padding: 5px 0px;
}
.list-1 li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.list-1 li a:hover{
    color: #735240;
    transition: 0.2s;
}
h2{
    padding-top: 30px;
    color: white;
    font-family: 'Kanit', sans-serif;
}
p{
    padding-top: 4px;
}
                                     /* media quiry full responsive */
@media only screen and (max-width: 960px){
    .navlist li a {
        padding: 0px 20px;
        font-size: 20px;
    }
    .col{
        width: 20%;
        padding: 0px 31px;
    }
    h2{
        padding-top: 1px;
    }
    .sec-2 {
        width: 100%;
        background-color: #735240;
        flex-direction: column;
        height: 400px;
    }
    .resp-content{
        display: block;
    }
    .resp-content h1{
        text-align: center;
        padding: 15px 0px;
        font-family: 'Kanit', sans-serif;
        color: white;
    }
    .resp-content p{
        padding: 5px 10px;
        
    }
    .img-2 {
        display: none;
    }

}

@media only screen and (max-width: 676px){
    .navlist{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        overflow: hidden;
    }
    .v-class-resp{
        height: 0px;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgb(253, 253, 253);
        transition: 0.2s;

    }
    .active{
        height: 300px;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .navbar ul li:hover .drop-down-manu{
        display: block;
        position: relative;
        left: 0;
        right: 0;
        padding: 0;
        top: 100%;
        width: auto;
        background-color: rgb(253, 250, 250);
    }
    .img{
        background-image: url('./gallary/section-1\ resp.jpg');  
        overflow:hidden; 
    }
    .headline-resp{
        font-family: 'Kanit', sans-serif;
        color: violet;
        text-align: center;
        padding-top: 8%;
        font-size: 25px;
        display: block;
    }
}   